WebApplication/Service References/myWcf/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SmartGridCisApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmartGridCisApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfPersonType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonType" nillable="true" type="tns:PersonType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonType" nillable="true" type="tns:ArrayOfPersonType" />
  <xs:complexType name="PersonType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonType" nillable="true" type="tns:PersonType" />
</xs:schema>